$color-pink-dark-primary: #f6c1bc;
$color-pink-dark-secondary: #ffd7d2;
$color-pink-light-primary: #ffd7d2;
$color-pink-light-secondary: #fceae8;
$color-blue-dark-primary: #c8e1f0;

$color-grey-primary: #e5e5e5;
$color-red: #d31334;
