$color-pink-dark-primary: #f6c1bc;
$color-pink-dark-second: #fedbd8;
$color-pink-light: #fceae8;
$color-blue-dark-primary: #c8e1f0;
$color-blue-dark-primary: #e8f3fb;
$color-grey-primary: #e5e5e5;
$color-red-button: #d31334;
